.menu-container {
  display: grid;
  grid-template-columns: 1.3fr 1.1fr;
  grid-template-rows:  1fr;
  gap: 0px 0px;
  grid-template-areas:
    "app-list-products app-take-order"
    "app-list-products app-take-order"
    "app-list-products app-take-order";
}

.app-list-products { grid-area: app-list-products; }
.app-take-order { grid-area: app-take-order; }
