<section id="menu-container" class="menu-container">
    <app-nav-bar class="nav-bar"></app-nav-bar>
    <div class="category area-buttons-select" (click)="categoryListener($event )" >
        <div *ngFor="let list of menu"  class="imgMenu">
            <button class="button-select" >
              <div class="div-img">
                <img [name]="list.category" class="img"  src={{list.image}} alt="">
              </div>
            </button>
        </div>
    </div>

    <div class="listMenu area-items-deployment">
        <ng-template ngFor let-flavor [ngForOf]="category[0] ">
            <div class="menu">
                <div class="info">
                    <h3 class="type" style="margin: 0%;"> {{flavor.flavors}} </h3>
                    <!--- <h3 class="price"> {{flavor.price}} </h3> ---->
                </div>

                <div class="quantity">
                    <button class="btnQuantity"><span>+</span></button>
                    <p style=" margin-top: 0.75rem; font-size: large;">1</p>
                    <button class="btnQuantity"><span>-</span></button>
                </div>
            </div>
        </ng-template>
    </div>
    <div class="area-add-products">
      <div class="template-order-container">
        <div class="header">
          <div class="table-number">
            <label>Mesa</label>
            <input type="text"  class="form-control">
          </div>
          <div class="table-date">
            <h3>Date</h3>
          </div>
        </div>
        <div class="orders-description">
          <div class="units-order">
            <div class="valors-units">
              <p>cant.</p>
              <p>Item</p>
              <p>Precio</p>
            </div>
            <hr>
            <div class="orders-list">
              <div class="order-type">
                <p>1</p>
                <p>|</p>
                <p>Fresa</p>
                <p>|</p>
                <p>S/.10.00</p>
                <span class="icon-trash">
                  <i class="fa-solid fa-trash"></i>
                </span>
              </div>
              <div class="order-type">
                <p>1</p>
                <p>|</p>
                <p>Fresa</p>
                <p>|</p>
                <p>S/.10.00</p>
                <span class="icon-trash">
                  <i class="fa-solid fa-trash"></i>
                </span>
              </div>
              <div class="order-type">
                <p>1</p>
                <p>|</p>
                <p>Fresa</p>
                <p>|</p>
                <p>S/.10.00</p>
                <span class="icon-trash">
                  <i class="fa-solid fa-trash"></i>
                </span>
              </div>
            </div>

            <div class="order-total-price">
              <h1>TOTAL: </h1>
              <h3>S/30.00</h3>
            </div>
          </div>

          <div class="order-buttons">
            <button class="btn-send-order">ENVIAR PEDIDO</button>
            <button class="btn-cancel-order">CANCELAR PEDIDO</button>
          </div>

        </div>
      </div>
    </div>
</section>


