<section id="menu-container" class="menu-container">
    <div class="ice">
        <img class="imgIce" src="../../../assets/img/frozen-yogurt.png" alt="">
    </div>
    <div class="malteadas">
        <img class="imgMalteadas" src="../../../assets/img/milshake.png" alt="">
    </div>
    <div class="otrasBebidas">
        <img class="imgOtrasBebidas" src="../../../assets/img/cafe.png" alt="">
    </div>
    <div class="sandwich">
        <img class="imgSandwich" src="../../../assets/img/sandwich-de-pollo.jpg" alt="">
    </div>
  
</section>

