<section id="menu-container" class="menu-container">
    
    <div class="category" (click)="categoryListener($event )" >
        <div *ngFor="let list of menu"  class="imgMenu">
            <button >
                <img [name]="list.category" class="img"  src={{list.image}} alt="">
            </button>      
        </div>
    </div>

    <div class="listMenu">
        <ng-template ngFor let-flavor [ngForOf]="category[0] ">
            <div class="menu">
                <div class="info">
                    <button class="type"> {{flavor.flavors}} </button>
                    <h3 class="price"> {{flavor.price}} </h3>
                </div>

                <div class="quantity">
                    <button class="btnQuantity"><span>+</span></button>
                    <p>1</p>
                    <button class="btnQuantity"><span>-</span></button>
                </div>
            </div>
        </ng-template>
    </div>

</section>


