.menu-container{
  height: 100vh;
}
@mixin imgButton {
  height: calc(60vh/4);
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  align-items: center;
}
.imgIce {
  height: 100%;
  width: 10rem;
}
.imgMalteadas {
  height: 100%;
  width: 5rem;
}
.imgOtrasBebidas {
  height: 100%;
  width: 10rem;
}
.imgSandwich {
  height: 100%;
  width: 10rem;
}
.ice {
  @include imgButton()
}
.malteadas {
  @include imgButton()
}
.otrasBebidas {
  @include imgButton()
}
.sandwich {
  @include imgButton()
}