.container-chef {
  display: grid;
  grid-template-columns: 0.12fr 1.8fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "nav-bar-chef router-outlet-chef";
  height: 100vh;
}
.nav-bar-chef { grid-area: nav-bar-chef; }
.router-outlet-chef {
  grid-area: router-outlet-chef;
  overflow-y: scroll;
  margin-bottom: 7%;


}

::-webkit-scrollbar {
  width: 10px;
  background: #121613;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #6c757d;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #C4C4C4;
  border-radius: 10px;
}
