
<div *ngFor="let detail of orders " id="{{detail.id}}" class="card-table-container">
  <div class="card-table-tittle">
    <div class="number-table">
      <p>Mesa: {{detail.data.table}}</p>
    </div>
    <div>
      <p>Cliente: {{detail.data.clientName}}</p>
    </div>
  </div>
  <div class="tables-products">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><span>Item</span></th>
          <th scope="col"><span>Cantidad</span></th>
        </tr>
      </thead>
      <tbody  *ngFor="let item of detail.data.products">
        <tr>
          <td class="align-left">{{item.flavors}}</td>
          <td>{{item.amount}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="button-take-orders">
    <button >Entregado</button>
    <button>Eliminar</button>
  </div>
</div>
