
<section id="login-container" class="login-container">
  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile class="login-left">
      <div class="login-img-div">
        <img src="./../../../assets/img/frozen-yogurt.png" alt="">
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="container-input">
        <div class="text-login">
          <h1>Iniciar Sesión</h1>
        </div>
        <div class = "input-email">
          <mat-form-field appearance="outline" floatLabel="auto">
            <input matInput placeholder="tucorreo@dominio.com" class ="inputs" #userName>
          </mat-form-field>
        </div>
        <div class="input-password">
          <mat-form-field appearance="outline" floatLabel="auto">
            <input matInput placeholder="contraseña" [type]="hide ? 'password' : 'text'" style="margin-left: 5rem" #userPassword>
          </mat-form-field>
        </div>

        <div class="div-button">
          <button mat-raised-button color="primary" (click)="authService.SignIn(userName.value, userPassword.value)">INGRESAR</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</section>

