
<section id="login-container" class="login-container">
  <div class="container">
    <div class="login-left">
      <div class="login-img-div">
        <img src="./../../../assets/img/frozen-yogurt.png" alt="">
      </div>
      <div class="login-text-div">
        <h2>Sientete bien</h2>
      </div>
    </div>
    <div class="login-center"></div>
    <div class="login right">
      <div class="container-input">
        <div class="text-login">
          <h1>Iniciar Sesión</h1>
        </div>
        <div class = "input-email">
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
            </div>
            <input placeholder="tucorreo@dominio.com" type="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" [(ngModel)]="user.email">
          </div>
        </div>
        <div class="input-password">
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
            </div>
            <input placeholder="contraseña" type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"  [(ngModel)]="user.password">
          </div>
        </div>
        <div class="div-button">
          <button mat-raised-button color="primary" (click)="ingresar()">INGRESAR</button>
        </div>
      </div>
    </div>
  </div>
</section>

