<section class="nav-bar">
  <div class="div-button-views">
    <a href="waiter/menu" >
      <img class="button-views" src="./../../../assets/img/tomar-pedidos.png" alt="">
    </a>
  </div>
  <div class="div-button-views">
    <a href="waiter/tables" >
      <img class="button-views" src="./../../../assets/img/ver-pedidos.png" alt="">
    </a>
  </div>
  <div class="div-button-views">
    <a href="waiter/orders-for-delivery" >
      <img class="button-views" src="./../../../assets/img/entregado-waiter.png" alt="">
    </a>
  </div>
</section>
