<section class="list-products-container">
  <div class="category area-buttons-select" (click)="categoryListener($event )" >
    <div *ngFor="let list of menu"  class="imgMenu">
        <button class="button-select" >
          <div class="div-img">
            <img [name]="list.category" class="img"  src={{list.image}} alt="">
          </div>
        </button>
    </div>
  </div>

  <div class="listMenu area-items-deployment">
    <ng-template ngFor let-flavor [ngForOf]="category[0] ">
        <div class="menu">
            <div class="info">
                <h3 class="type" style="margin: 0%;"> {{flavor.flavors}} </h3>
                <!--- <h3 class="product-price"> {{flavor.price}} </h3> ---->
            </div>
            <div class="quantity">
              <button class="btn-add">AÑADIR</button>
            </div>
        </div>
    </ng-template>
  </div>
</section>

