.list-products-container {
  display: grid;
  grid-template-columns: 0fr 0.6fr 0.8fr 0fr;
  grid-auto-flow: row;
  grid-template-areas: ". area-buttons-select area-items-deployment .";
}

.area-buttons-select {
  grid-area: area-buttons-select;
}

.area-items-deployment { grid-area: area-items-deployment; }


@mixin imgButton {
  height: calc(60vh/4);
}
.category {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 19%;
}

.img {
  height: 100%;
  width: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
}

.imgMenu {
  height: 30vh;
}

.listMenu {
  display: flex;
  flex-direction: column;
  margin-top: 22%;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
  border: 1px solid rgba(140, 140, 140, 0.529);
  height: 16vh;
  width: 23vw;
}
.info {
  display: flex;
  width: 50%;
  flex-direction: column;
  padding-top: 5%;
}

.product-price {
  width: 10%;
  text-align: center;
}
.quantity {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  cursor: pointer;
}

.button-select{
  width: 12vw;
  height: 25vh;
  text-decoration: none;
  border-radius: 0.6rem;
  border: 1px solid rgba(139, 139, 139, 0.529);
  padding-left: 13%;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  box-shadow: #999;
    -webkit-box-shadow: 2px 2px 5px #999;
    -moz-box-shadow: 2px 2px 5px #999;
    filter: shadow(color=#999999, direction=135, strength=2);
  &:hover{
    box-shadow: 0 0 20px 1px #a9b9c080 inset, 0 1px 0 0 #727477b8, 0 6px 0 0 #69718387, 0 8px 4px 1px #1111114d;
  }

}


.div-img{
    background-color: rgba(96, 125, 139, 0.541);
    width: 9vw;
    height: 9vw;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.btn-add{
  width: 7vw;
  text-decoration: none;
  border-radius: 0.3rem;
  border: 1px solid rgba(139, 139, 139, 0.529);;
  cursor: pointer;
  background-color: #81BE41;
  outline: none;
  color: #ffffff;
  font-size: medium;
  height: 6vh;
}

.titleCategory {
  width: 23vw;
  display: flex;
}

@media only screen and (max-width: 1181px) {
  .imgMenu {
    height: 20vh;
  }

  .button-select {
    height: 16vh;
  }

}

@media only screen and (max-width: 820px) {


  .list-products-container {
      display: grid;
      grid-template-columns: 0fr 0.4fr 0.8fr 0fr;
      grid-template-areas: ". area-buttons-select area-items-deployment .";
  }

    .menu{
      height: 10vh;
      width: 27vw;
    }

    .imgMenu{
      height: 12vh;
    }

  .button-select {
    height: 10vh;
  }

  .quantity {
    padding-right: 7%;
  }

  .btn-add{
    width: 12vw;
    height: 4vh;
  }

  .img {
    width: 3rem;
  }
}
