<section class="list-products-container">
  <div class="category area-buttons-select" (click)="categoryListener($event )" >
    <div *ngFor="let list of menus"  class="imgMenu">
        <button class="button-select" >
          <div class="div-img">
            <img [name]="list.category" class="img"  src={{list.image}} alt="">
          </div>
        </button>
    </div>
  </div>

  <div class="listMenu area-items-deployment">
    <ng-template   data=[product] ngFor let-product [ngForOf]="category[0]">
        <div class="menu" >
            <div class="info">
                <h3 class="type" style="margin: 0%;"> {{product.flavors}} </h3>
                <h3 class="product-price"><b>PRECIO:</b>S/{{product.price}} </h3>
            </div>
            <div class="quantity">
              <button class="btn-add" (click)="addProduct(product)">AÑADIR</button>
            </div>
        </div>
    </ng-template>
  </div>
</section>

