    <header>
      <mat-toolbar class="header">
        <mat-toolbar-row>
          <div class="div-header">
            <img class ="logo" src="./../../../assets/img/ice-cream.png">
            <span>Ice-Queen</span>
          </div>
          <div class="div-header div-header-right">
            <a href="#" *ngIf="userLogged|async as user" >
              <img class="logo" src="./../../../assets/img/usuario.png" alt="">
              {{user.email}}
              <button class="btn-singOut" (click)="signOut()">salir</button>
            </a>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
    </header>
