.example-spacer {
    flex: 1 1 auto;
}

.header {
    background: #81BE41;
}

img {
    height: 3.2rem;
    margin-right: 1%;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  justify-content: space-between;
}

.div-header{
  display: flex;
  align-items: center;
}

.div-header-right a{
  display: flex;
  align-items: center;
  color: white;
  font-size: medium;
  text-decoration: none;
}

.div-header-right img{
  height: 6vh;
  margin-right: 1vw;
}

.btn-singOut{
  cursor: pointer;
  background: none;
  text-decoration: none;
  border: none;
  color: white;
  font-size: medium;
  margin-left: 1vh;
}

