<div class="container-input">
  <div class="text-login">
    <h1>Iniciar Sesión</h1>
  </div>
  <div class = "input-email">
    <mat-form-field appearance="outline" floatLabel="auto">
      <input matInput placeholder="tucorreo@dominio.com" class ="inputs" [formControl]="email" hideRequired>
    </mat-form-field>
  </div>
  <div class="input-password">
    <mat-form-field appearance="outline" floatLabel="auto">
      <input matInput placeholder="contraseña" [type]="hide ? 'password' : 'text'" class ="inputs" hideRequired>
        <mat-icon mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
  </div>
  <div class="div-button">
    <button mat-raised-button color="primary">INGRESAR</button>
   </div>
</div>
