

@mixin tablet {
  @media only screen and ( min-width: 768px ){
    .container-input{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 400px
    }

    .text-login{
      color: #81BE41;
    }

    .text-login h1{
      font-size: 40px;
    }
    .container-input div {
      margin: 5% 0%;
    }

    // mat-icon-stepper selected color change
    ::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
      background-color: rgb(75, 72, 72, 0.548)!important;
    }

    //input outline color
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
      color: rgba(75, 72, 72, 0.226)!important;
      opacity: 1!important;
    }

    //mat-input focused color
    ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
      color: rgb(75, 72, 72, 0.548)!important;
    }

    // mat-input error outline color
    ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
      color: rgba(75, 72, 72, 0.548)!important;
      opacity: 0.8!important;
    }

    // mat-input carent color
    ::ng-deep .mat-input-element {
      caret-color: rgba(75, 72, 72, 0.548)!important;
    }

    // mat-input error carent color
    ::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
      caret-color: rgb(75, 72, 72, 0.548)!important;
    }

    // mat-label normal state style
    ::ng-deep .mat-form-field-label {
      color: rgba(75, 72, 72, 0.548)!important;
      // color: $mainColor!important;
    }

    // mat-label focused style
    ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
      color: rgba(75, 72, 72, 0.548)!important;
    }

    // mat-label error style
    ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
      color: rgba(75, 72, 72, 0.548)!important;
    }

    .mat-input-element::placeholder{
      color: rgba(75, 72, 72, 0.548);
      text-align: center;
      font-size: large
    }

    ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 1.3em 100px !important;}
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-label { margin-top:0px; }
    ::ng-deep label.ng-star-inserted { transform: translateY(1em) scale(.80) !important; }

    .mat-raised-button{
      background-color: #81BE41;
      width: 200px;
      height: 50px;
      border-radius: 20px;
      font-size: 20px;
    }

  }
}
