
<div class="container">
  <div class="row">


    <div class="col-4 card">
      <h1>Mesa #12</h1>
      <div class="detail">
        <div class="contPrincipal">
          <div class="item">
            <h3>item</h3>
            <div class="input-group mb-3">
              <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
              </div>
              <button type="text"  class="form-control" aria-label="Text input with checkbox">Helado de fresa con sanwich</button>
            </div>
          </div>
  
          <div class="cantidad">
            <h3>cantidad</h3>
            <div class="input-group mb-3">
              <button class="form-control" aria-label="Text input with checkbox">5</button>
            </div>
          </div>
        </div>
        <div class="btnEstados">
          <button type="button" class="btn btn-warning">Middle</button>
          <button type="button" class="btn btn-success">Right</button>
        </div>
      </div>
        
    </div>


  </div>
</div>



