/*
.container {
  display: flex;
  margin: 0.3rem;
}
.order {
  display: flex;
  justify-content: space-around;
}
.input-group-text {
  width: 2.5rem;
  justify-content: center;
}

.form-check-input {
  display: flex;
  margin: 5px;
}
.contPrincipal {
  display: flex;
  margin: 0.6rem;
  padding: 0.2rem;
  background: white;
  flex-direction: column;
  border-radius: 8px;
}
.form-control {
  padding: 0;
}
.btnEstados {
  display: flex;
  justify-content:space-between;
  width: 100%;
  padding: 0.3rem;
}
.card {
  border-color: black;
  border:double;
  background: rgb(149, 207, 204);
  padding: 0;
  margin-bottom: 0.3rem;
}
.detail {
  margin-bottom: 0.9rem;
}

.item {
  width: 80%;
}
.amount {
  width: 20%;
}
.nMesa{
  background: white;
}
.btn-warning {
  width: 50%;
  margin-right: 0.5rem;
  border-radius: 7px;
  color: white;
}
.btn-success {
  width: 50%;
  margin-left: 0.5rem;
  border-radius: 7px;
}
.form-check-input:checked {
  background-color: rgb(240, 181, 21);
  border-color: rgb(240, 181, 21);
}
.form-check-input {
  width: 1.1em;
  height: 1.1em;
}*/

.card-table-container{
  width: 19vw;
  border-color: #C4C4C4;
  background-color: rgba(196, 196, 196, 0.432);
  border: 1px solid #C4C4C4;
  margin: 1.25rem;
  width: 25vw;
}

.card-table-tittle{
  background-color: white;
  display: flex;
  border-bottom: 1px solid #C4C4C4;
  justify-content: space-around;
  padding-top: 3%;
}

.tables-products{
  color: #C4C4C4;
  margin: 1rem 2rem;
  border: 1px solid #c4c4c493;
  background-color: white;
  border-radius: 0.5rem;
  overflow-y:scroll;
  height:40vh;
  width: 20vw;
}

.button-take-orders{
  display: flex;
  justify-content: space-around;
  margin: 1rem;
}

.button-take-orders{

  .btn-take-order{
    background: transparent;
    border-radius: 1.2rem;
    border: none;
    height: 6vh;
    width: 10vw;
    margin: 2%;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #81BE41;
    border: 2px solid #81BE41;
  }
  .btn-finish-order{
    background: transparent;
    border-radius: 1.2rem;
    border: none;
    height: 6vh;
    width: 10vw;
    margin: 2%;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #d4b822;
    border: 2px solid #d4b822;
  }
}

.tables-products::-webkit-scrollbar {
  -webkit-appearance: none;
}
.tables-products::-webkit-scrollbar:vertical {
  width:10px;
}
.tables-products::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
}
.tables-products::-webkit-scrollbar:horizontal {
  height: 10px;
}
.tables-products::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
.tables-products::-webkit-scrollbar-track {
  border-radius: 10px;
}

.table td, .table th {
    text-align: center;
}

.number-table{
  display: flex;
  align-items: center;

  input{
    width: 3.5vw;
    border: none;
    border-bottom: #797979 2px solid;
    background: none;
    overflow: hidden;
    cursor: pointer;
    top: -12%;
    right: 0;
    bottom: 0;
    left: 0;
    outline: none;
    font-size: small;
    position: relative;
    margin-left: 3%;
  }

}
